body {
  font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
  color: #333;
  font-size: 14px;
  line-height: 20px;
  cursor: default;
}

h1 {
  margin-top: 20px;
  margin-bottom: 10px;
  font-family: Montserrat, sans-serif;
  color: #fff;
  font-size: 96px;
  line-height: 96px;
  font-weight: 900;
  text-align: center;
  text-transform: uppercase;
}

h2 {
  margin-top: 20px;
  margin-bottom: 10px;
  font-family: Montserrat, sans-serif;
  color: #fff;
  font-size: 64px;
  line-height: 36px;
  font-weight: 900;
  text-transform: uppercase;
}

h3 {
  margin: 20px 50px 10px 0px;
  font-family: Montserrat, sans-serif;
  color: #fff;
  font-size: 16px;
  line-height: 30px;
  font-weight: 500;
  text-transform: uppercase;
}

p {
  margin-bottom: 10px;
  font-family: Montserrat, sans-serif;
  color: #fff;
  font-weight: 700;
  text-transform: none;
}

.body {
  overflow: hidden;
  background-color: transparent;
  background-image: url('../images/Background.png');
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  cursor: default;
}

.body-2 {
  background-color: #000;
}

.navbar {
  position: fixed;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: auto;
  z-index: 400;
  padding-right: 50px;
  padding-left: 50px;
  background-color: transparent;
}

.navlink {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-top: 25px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  font-family: Montserrat, sans-serif;
  color: #d82a2a;
  font-weight: 700;
  text-decoration: none;
  text-transform: uppercase;
}

.navlink.footer-link {
  position: fixed;
  left: auto;
  top: auto;
  right: 40px;
  bottom: 5%;
  z-index: 1;
  margin-right: 0px;
  padding: 10px 5px;
}

.brand {
  width: auto;
  height: auto;
  padding-top: 20px;
}

.section {
  position: relative;
  z-index: auto;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
  width: 100%;
  height: 100vh;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.section.gallery-section {
  display: -ms-grid;
  display: grid;
  overflow: hidden;
  width: 150vw;
  height: auto;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  justify-items: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-align-content: space-between;
  -ms-flex-line-pack: justify;
  align-content: space-between;
  grid-auto-flow: row;
  grid-auto-columns: 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  -ms-grid-columns: 1fr 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  -ms-grid-rows: auto auto auto;
  grid-template-rows: auto auto auto;
}

.section.work-section {
  width: 100%;
  height: auto;
  margin-top: 50px;
  padding-right: 50px;
  padding-left: 50px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 80vw;
  height: 65vh;
  margin-right: auto;
  margin-left: auto;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.container.intro-container {
  width: 95vw;
  height: auto;
  padding-right: 40px;
  padding-left: 40px;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.container.artwork-container {
  display: -ms-grid;
  display: grid;
  overflow: hidden;
  width: 100vw;
  height: auto;
  grid-auto-columns: 1fr;
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto auto;
  grid-template-rows: auto auto;
}

.container.contact-container {
  height: auto;
}

.heading-wrapper {
  width: 100%;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.social-link-list {
  position: fixed;
  left: 0%;
  top: auto;
  right: auto;
  bottom: 0%;
  z-index: 1;
  list-style-type: none;
}

.social-link-block {
  padding-top: 10px;
  padding-bottom: 10px;
}

.social-link-block:hover {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-top: 10px;
  padding-bottom: 10px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.cursor-wrapper {
  position: fixed;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;
  z-index: 100;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  overflow: visible;
  width: 100vw;
  height: 100vh;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: transparent;
}

.outer-circle {
  position: absolute;
  width: 60px;
  height: 60px;
  border-style: solid;
  border-width: 2px;
  border-color: #d82a2a;
  border-radius: 50%;
}

.inner-circle {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #d82a2a;
}

.list-item {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding: 0px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-radius: 0%;
}

.list-item:hover {
  width: auto;
  height: auto;
  padding: 0px;
  background-color: transparent;
}

.buttons-wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 50%;
  -webkit-justify-content: space-around;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.button {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 200px;
  height: 200px;
  -webkit-justify-content: space-around;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-radius: 50%;
}

.button.ghost-button {
  position: relative;
  overflow: hidden;
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
  border-style: solid;
  border-width: 2px;
  border-color: #d82a2a;
  text-decoration: none;
}

.button.button-filled {
  -webkit-justify-content: space-around;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-align-self: flex-start;
  -ms-flex-item-align: start;
  align-self: flex-start;
  background-color: #d82a2a;
  -webkit-transition: border-color 500ms cubic-bezier(.86, 0, .07, 1), border-width 500ms cubic-bezier(.86, 0, .07, 1), background-color 500ms cubic-bezier(.86, 0, .07, 1);
  transition: border-color 500ms cubic-bezier(.86, 0, .07, 1), border-width 500ms cubic-bezier(.86, 0, .07, 1), background-color 500ms cubic-bezier(.86, 0, .07, 1);
  text-decoration: none;
}

.button.button-filled:hover {
  border-style: solid;
  border-width: 2px;
  border-color: #d82a2a;
  background-color: transparent;
}

.button-text {
  font-family: Montserrat, sans-serif;
  color: #d82a2a;
  font-weight: 700;
  text-transform: uppercase;
}

.button-text.filled-text {
  color: #fff;
}

.button-arrow {
  position: relative;
  z-index: 1;
  width: 10%;
}

.button-arrow.filled-arrow {
  -webkit-filter: sepia(100%) brightness(200%);
  filter: sepia(100%) brightness(200%);
}

.ghost-button-background {
  position: absolute;
  width: 0px;
  height: 0px;
  border-radius: 50%;
  background-color: #d82a2a;
}

.intro-heading {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 50%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
  -ms-flex-align: end;
  align-items: flex-end;
}

.intro-heading.about-block {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.job-title-wrapper {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 20px;
  margin-bottom: 20px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.job-title-wrapper.artwork-heading {
  margin-left: 50px;
  padding-left: 50px;
}

.red-heading-background {
  position: absolute;
  left: auto;
  top: 0%;
  right: 0%;
  bottom: 0%;
  z-index: -1;
  width: 75%;
  background-color: #d82a2a;
}

.red-heading-background.featured-work {
  left: 0%;
  top: 0%;
  right: auto;
  bottom: 0%;
}

.red-heading-background.about-background-block {
  left: 0%;
  top: auto;
  right: auto;
  bottom: auto;
  width: 25%;
  height: 10vh;
  margin-top: auto;
  margin-bottom: auto;
}

.red-heading-background.about-background-block.vertical {
  left: auto;
  top: 10%;
  right: 20%;
  bottom: auto;
  width: 10vh;
  height: 35%;
}

.gallery-image {
  width: 75%;
  max-width: none;
  padding: 20px 0px;
  -webkit-align-self: auto;
  -ms-flex-item-align: auto;
  -ms-grid-row-align: auto;
  align-self: auto;
  -webkit-transition: width 200ms cubic-bezier(.455, .03, .515, .955);
  transition: width 200ms cubic-bezier(.455, .03, .515, .955);
}

.gallery-image:hover {
  position: relative;
  z-index: auto;
  width: 100%;
}

.gallery-image:active {
  position: static;
}

.gallery-image:focus {
  position: static;
}

.artwork-block {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
  padding-right: 40px;
  -webkit-justify-content: space-around;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.artwork-block.artwork-reversed {
  padding-right: 41px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
  -webkit-flex-direction: row-reverse;
  -ms-flex-direction: row-reverse;
  flex-direction: row-reverse;
}

.artwork-image {
  width: 40%;
}

.artwork-number {
  font-family: Montserrat, sans-serif;
  color: #fff;
  font-weight: 700;
  text-transform: uppercase;
}

.heading {
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
}

.go-back {
  position: fixed;
  left: 0%;
  top: auto;
  right: 0%;
  bottom: 5%;
  z-index: 1;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 5vw;
  height: 5vw;
  margin-right: auto;
  margin-left: auto;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-style: solid;
  border-width: 1px;
  border-color: #d82a2a;
  border-radius: 50%;
  background-color: transparent;
  -webkit-transition: background-color 200ms ease;
  transition: background-color 200ms ease;
  font-family: Montserrat, sans-serif;
  color: #d82a2a;
  font-size: 2vw;
  text-decoration: none;
}

.go-back:hover {
  border-style: none;
  background-color: #fff;
}

.close {
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  font-size: 3vw;
  font-weight: 500;
}

.transition-block {
  position: fixed;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;
  z-index: 500;
  width: auto;
  background-color: #d82a2a;
  -webkit-transform-origin: 100% 50%;
  -ms-transform-origin: 100% 50%;
  transform-origin: 100% 50%;
}

@media (max-width: 991px) {
  h1 {
    font-size: 86px;
  }
  h2 {
    font-size: 54px;
  }
  .body {
    overflow: visible;
  }
  .brand {
    padding-top: 20px;
  }
  .section {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: stretch;
    -webkit-align-items: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
  }
  .section.gallery-section {
    width: 100vw;
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }
  .section.work-section {
    padding-right: 0px;
    padding-left: 0px;
  }
  .container.intro-container {
    padding-right: 0px;
    padding-left: 0px;
  }
  .cursor-wrapper {
    display: none;
  }
  .intro-heading {
    height: auto;
    -webkit-align-self: flex-end;
    -ms-flex-item-align: end;
    align-self: flex-end;
  }
  .gallery-image {
    position: static;
    left: 0%;
    top: 0%;
    right: 0%;
    bottom: 0%;
  }
  .gallery-image:hover {
    position: static;
    left: 0%;
    top: 0%;
    right: 0%;
    bottom: 0%;
    width: 100%;
  }
  .artwork-block {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .artwork-block.artwork-reversed {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .artwork-image {
    width: 50%;
  }
}

@media (max-width: 767px) {
  h1 {
    font-size: 50px;
    line-height: 50px;
  }
  h2 {
    font-size: 45px;
  }
  h3 {
    font-size: 18px;
  }
  .container.intro-container {
    width: 100vw;
    height: 100vh;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }
}

@media (max-width: 479px) {
  h1 {
    margin-top: 0px;
    margin-bottom: 0px;
    font-size: 24px;
    line-height: 24px;
  }
  h2 {
    font-size: 24px;
  }
  h3 {
    margin-right: 0px;
    font-size: 14px;
  }
  .navbar {
    padding-right: 10px;
    padding-left: 10px;
  }
  .navlink {
    font-size: 12px;
  }
  .navlink.footer-link {
    right: 10px;
  }
  .section {
    position: static;
    width: 100vw;
  }
  .section.work-section {
    padding-right: 0px;
    padding-left: 0px;
  }
  .container.intro-container {
    width: 100vw;
    height: 70vh;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }
  .social-link-list {
    padding-left: 10px;
  }
  .social-link-block {
    width: 75%;
  }
  .buttons-wrapper {
    height: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
  .button {
    width: 150px;
    height: 150px;
  }
  .button.button-filled {
    margin-top: 50px;
    margin-left: 50px;
  }
  .button-text {
    font-size: 10px;
  }
  .intro-heading {
    height: 100%;
  }
  .job-title-wrapper.artwork-heading {
    margin-left: 10px;
  }
  .artwork-block {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
  .artwork-block.artwork-reversed {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
  .artwork-image {
    width: 90%;
  }
  .heading {
    margin-bottom: 50px;
  }
}

#w-node-edee7cad4b40-f7a5c1df {
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
  -ms-grid-column: span 2;
  grid-column-start: span 2;
  -ms-grid-column-span: 2;
  grid-column-end: span 2;
}

#w-node-807fcbad0364-f7a5c1df {
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
  -ms-grid-column: span 2;
  grid-column-start: span 2;
  -ms-grid-column-span: 2;
  grid-column-end: span 2;
}

#w-node-2f4bb291c205-f7a5c1df {
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
  -ms-grid-column: span 2;
  grid-column-start: span 2;
  -ms-grid-column-span: 2;
  grid-column-end: span 2;
}

#w-node-6fbdf765e575-f7a5c1df {
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
  -ms-grid-column: span 2;
  grid-column-start: span 2;
  -ms-grid-column-span: 2;
  grid-column-end: span 2;
}

#w-node-36bfa30cb933-93a5c20a {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
  -ms-grid-row-align: center;
  align-self: center;
}

#w-node-3b19e0653458-93a5c20a {
  -ms-grid-column-align: auto;
  justify-self: auto;
  -ms-grid-row-align: center;
  align-self: center;
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-bec4b9f52831-93a5c20a {
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
}

#w-node-0ffd984ec3c8-93a5c20a {
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
}

#w-node-5e0412ea8437-93a5c20a {
  -ms-grid-row-align: stretch;
  align-self: stretch;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
}

#w-node-a56f4cbe4565-93a5c20a {
  -webkit-align-self: auto;
  -ms-flex-item-align: auto;
  -ms-grid-row-align: auto;
  align-self: auto;
  -ms-grid-column-align: auto;
  justify-self: auto;
}

#w-node-b1c86dda9432-93a5c20a {
  -webkit-align-self: stretch;
  -ms-flex-item-align: stretch;
  -ms-grid-row-align: stretch;
  align-self: stretch;
}

#w-node-8e5b7231d6dc-93a5c20a {
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
}

#w-node-98d552808c21-93a5c20a {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
  -ms-grid-row-align: center;
  align-self: center;
}

#w-node-a44e4c837a71-93a5c20a {
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
}

#w-node-cadfabb9764e-93a5c20a {
  -webkit-align-self: stretch;
  -ms-flex-item-align: stretch;
  -ms-grid-row-align: stretch;
  align-self: stretch;
}

#w-node-7af8e6c5aad5-93a5c20a {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}